/* IMPORT */
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');
/* MAIN SITE */
body {
  background: rgba(30, 146, 255, 0);
  padding: 0px;
  margin: 0px;
  background-image: url(../images/sea.jpg);
  
}
div.body {
  background-image: url(../images/seanight.jpg);
  background-size: 100%;
  background-repeat: repeat-y;
  
}
h1 {
  margin:0 auto;
  font-family: 'Berkshire Swash', cursive; 
  font-size: 58px;
  text-align: center;
  color:white;
}
h2 {
  margin:0 auto;
  font-family: 'Berkshire Swash', cursive; 
  font-size: 28px;
  text-align: center;
  color:white;
}
.readystate {
  text-align: center;
  margin: auto;
}
p {
  font-size: 24px;
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
  margin: 10px 30px;
}
p.counter {
  min-height: 100%;
}
.counterLeft {
  display: flex;
  min-width: 220px;
}
.flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#top {
  background-color: rgba(255, 0, 0, 0.0);
  max-width: 50px;
  min-width: 100px;
  margin: auto;
  margin-top: 10px;
}
button {
  min-width: 90px;
  min-height: 40px;
  border-radius: 5px;
}
button.mode {
  min-width: 150px;
  min-height: 50px;
  margin: 10px auto;
}
button:focus {
  outline: 0px solid #fff;
  outline-offset: 0px;
}
main {
  display: flex;
  flex-direction: column;
  min-height: 480px;
}
footer{
  position: fixed;
  bottom: 0px;
  background-color:rgba(51, 99, 153, 0.379);
  min-height: 50px;
  max-width: 50px;
  min-width: 100%;
  margin: 0px;
}
span {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.left {
  margin: 10px 20px;
  left: 0px;
}
.right {
  margin: 10px auto;
  right:0px;
}
/*  */
/* STAGING ARENA */
/*  */
.stage1 {
  background-image: url(../images/howtoimg.png);
  background-repeat: no-repeat;
  background-size: 74%;
  background-position: center;
}
.stage1-2 {
  background-image: url(../images/howtoimg.png);
  background-repeat: no-repeat;
  background-size: 74%;
  background-position: center;
}
.stage2win {
  display: absolute;
  z-index: 2;
  margin-top: 200px;
  vertical-align: center;
  float: left;
  left: 25%;
  right: 25%;
  position: absolute;
  min-width: 640px;
  min-height: 320px;
  background-color: rgba(122, 61, 12, 0.7);
}
.stage2lose {
  display: absolute;
  z-index: 2;
  margin-top: 200px;
  vertical-align: center;
  float: left;
  left: 25%;
  right: 25%;
  position: absolute;
  min-width: 640px;
  min-height: 320px;
  background-color: rgba(122, 61, 12, 0.7);
}
.inventory {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -10px;
  top:200px;
  min-height: 420px;
  max-height: 420px;
  min-width: 320px;
  padding-top: 35px;
  background-image: url(../images/inventoryBG.png);
  background-position-x: -80px;
  background-size: 400px;
  background-repeat: no-repeat;
  background-attachment: local;
} 
.inventory > p {
  font-size: 18px;
  color: rgb(165,42,42);
}
.shop {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: -40px;
  top:200px;
  min-height: 420px;
  max-height: 420px;
  min-width: 320px;
  padding-top: 35px;
  background-image: url(../images/shopBGnew.png);
  background-size: 400px;
  background-repeat: no-repeat;
  background-attachment: local;
}
button.store {
  margin: 15px 75px;
  padding: 5px;
}
.stage-container {
  display: flex;
  flex-direction: row;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-image: url(../images/bg.png);
  min-height: 540px;
  max-height: 500px;
  min-width: 100%;
  margin: 10px auto;
}
.stage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid black;
  background-color: rgba(245, 245, 245, 0.1); */
  max-height: 420px;
  min-height: 420px;
  min-width: 968px;
  margin: 20px auto;
  padding: 4px;
  
}
.ui-container {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
  background-color: whitesmoke;
  min-height: 50px;
  max-width: 700px;
  min-width: 700px;
  margin: auto
}
.ui {
font-family: 'Berkshire Swash', cursive; 
font-size: 28px;
min-width: 180px;
min-height: 45px;
display: flex;
justify-content: space-around;
margin: auto;
}
.ui:nth-child(3){
  color: whitesmoke;
}
.cannon {
  display: flex;
  overflow: hidden;
  justify-items: flex-start;
  position: relative;
  border: 2px solid black;
  /* background-color: whitesmoke; */
  background-image: url('../images/cannonbg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  min-width: 800px;
  max-width: 800px;
  bottom: 100px;
  margin: auto;
}
/*  */
/* END OF STAGING AREA */
/*  */
/*  */
/* STAGE GRID */
/*  */
.grid {
  background-color: rgba(0, 0, 0, 0.1);
  top:0px;
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 400px;
  max-width: 770px;
  margin: 0 auto;
}
.grid div {
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin: 0px 0px;
  flex-grow: 1;
  height: 35px;
  width: 35px;
}
/*  */
/* END OF STAGE GRID */
/*  */
/*  */
/* OBJECTS */
/*  */
.loot{
  /* background-color: gold; */
  }
/* .lootHit:focus{
  background-color: gold;
} */
.lootHit{
  background-image: url('../images/lootimg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto;
  text-align: center;
  font-size: 22px;
  color: red
}
.loot-prox {
  background-image: url(../images/loot-prox.gif);
  background-size: 550%;
  background-position-x: -2px;
  background-position-y: -5px;
}
  .boat{
  /* background-color: rgb(116, 61, 13) */
  }
  .boatHit{
    /* background-color: rgb(160, 101, 25); */
    background-image: url('../images/shipimg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
    font-size: 22px;
    color: red
  }
  .trap{
  /* background-color: blueviolet */
  }
  .trapHit{
    /* background-color: purple */
    background-image: url('../images/trapimg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
  }
  .trap-prox {
    margin: auto;
    text-align: center;
    font-size: 22px;
    color: red
  }
  .siren{
    /* background-color: palevioletred */
  }
  .sirenHit{
    /* background-color: violet; */
    background-image: url(../images/sirenimg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
    font-size: 22px;
    color: red
  }
  .balls {
    background-repeat: no-repeat;
    background-image: url(../images/ball.png);
    background-position: center;
    background-size: 100%;
    margin: 14px 2px;
    max-height: 50px;
    min-width: 28px;
    max-width: 30px;
  }
/*  */
/* PLAYER BASED STYLING */
/*  */
.player {
  /* background-color: rgba(255, 0, 0, 0.0); */
  /* background-image: url("../images/circle.gif"); */
  background-image: url('../images/crosshair.png');
  background-size: 96%;
  background-repeat: no-repeat;
  background-position: center;
}
.attack {
  /* background-color: rgba(255, 255, 255, 0.5) */
}
.hit {
  background-color: rgba(104, 255, 117, 0)
}
.miss {
  background-color: rgba(0, 0, 0, 0.3);
  margin: auto;
  text-align: center;
  font-size: 22px;
  color: red;  
}
/*  */
/* END OF PLAYER BASED STYLING */
/*  */
.hide {
  display: none;
}
.stealth {
  visibility: hidden;
} 
/*  */
/* ANIMATION */
/*  */
